<template>
  <div class="">
    <nav class="px-6 py-3 bg-slate-700 md:flex md:justify-between md:items-center">
      <div class="flex items-center justify-between">
        <div
          class="text-3xl font-bold text-gray-100 md:text-2xl hover:text-slate-400 cursor-default"
        >
          PixelPlay Studio
        </div>
        <div class="flex gap-2">
          <div class="flex md:hidden">
            <button
              type="button"
              class="text-gray-100 hover:text-gray-400 focus:outline-none focus:text-gray-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9"
                />
              </svg>
            </button>
          </div>
          <!-- Mobile menu button -->
          <div @click="toggleNav" class="flex md:hidden">
            <button
              type="button"
              class="text-gray-100 hover:text-gray-400 focus:outline-none focus:text-gray-400"
            >
              <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                <path
                  fill-rule="evenodd"
                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <ul
        :class="showMenu ? 'flex' : 'hidden'"
        class="flex-col mt-8 space-y-4 md:flex md:space-y-0 md:flex-row md:items-center md:space-x-10 md:mt-0"
      >
        <li class="text-gray-100 hover:text-slate-400">FILE</li>
        <li>
          <div class="relative">
            <!-- Dropdown toggle button -->
            <button
              @click="show = !show"
              class="flex items-center text-slate-100 rounded-md focus:outline-none"
            >
              <span class="mr-4">EDIT</span>
              <svg
                v-show="false"
                class="w-5 h-5 text-slate-100"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              v-show="false"
              class="py-2 mt-2 bg-slate-500 rounded-md shadow-xl lg:absolute lg:right-0 w-44"
            >
              <a
                href="/"
                class="block px-4 py-2 text-sm text-slate-100 hover:bg-slate-400 hover:text-slate-100"
              >
                Dropdown List 1
              </a>
              <a
                href="/"
                class="block px-4 py-2 text-sm text-slate-100 hover:bg-slate-400 hover:text-slate-100"
              >
                Dropdown List 2
              </a>
              <a
                href="/"
                class="block px-4 py-2 text-sm text-slate-100 hover:bg-slate-400 hover:text-slate-100"
              >
                Dropdown List 3
              </a>
            </div>
          </div>
        </li>
        <li class="text-gray-100 hover:text-slate-400">VIEW</li>
      </ul>

      <div class="hidden md:block">
        <button
          @click="store.setSave(true)"
          class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-md"
        >
          Save
        </button>
      </div>
    </nav>
  </div>
</template>
<script>
import { useAdjustmentStore } from '@/stores/adjustment'
import { ref } from 'vue'
export default {
  setup() {
    const store = useAdjustmentStore()
    let showMenu = ref(false)
    let show = ref(false)
    const toggleNav = () => (showMenu.value = !showMenu.value)
    return { showMenu, show, toggleNav, store }
  }
}
</script>
