<template>
  <div class="w-full h-screen items-center justify-center text-center p-4">
    <div
      class="sm:ml-28 bg-slate-200 rounded-md h-4/5"
      @dragover="dragover"
      @dragleave="dragleave"
      @drop="drop"
    >
      <div v-if="file">
        <div class="w-full bg-red-50 player">
          <div class="player__sizer">
            <div v-if="isImage" class="image-container max-h-full">
              <cropper
                v-if="cropping"
                class="cropper"
                :src="fileSrc"
                :style="{
                  filter: 'brightness(' + brightness + '%) contrast(' + contrast + '%)',
                  transform: 'rotate(' + rotate + 'deg)'
                }"
                @change="handleCropChange"
              >
              </cropper>
              <img
                v-else
                :src="fileSrc"
                alt="Image"
                class="preview-image"
                :style="{
                  filter: 'brightness(' + brightness + '%) contrast(' + contrast + '%)',
                  transform: 'rotate(' + rotate + 'deg)'
                }"
              />
            </div>
            <div v-else-if="isVideo">
              <video
                class="image-container"
                controls
                :src="fileSrc"
                :style="{ filter: 'brightness(' + brightness + '%) contrast(' + contrast + '%)' }"
              ></video>
            </div>
          </div>
        </div>
        <div class="absolute top-5 text-black right-5" v-if="fileSrc" v-cloak>
          {{ file?.name
          }}<button class="ml-2" type="button" @click="remove()" title="Remove file">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      <div v-show="!fileSrc" class="flex items-center justify-center h-full">
        <input
          type="file"
          multiple
          id="assetsFieldHandle"
          class="w-px h-px opacity-0 overflow-hidden absolute"
          @change="onChange"
          ref="file"
        />

        <label for="assetsFieldHandle" class="block cursor-pointer">
          <div class="text-black">
            Explain to our users they can drop files in here or
            <span class="underline">click here</span> to upload their files
          </div>
        </label>
      </div>
    </div>
    <div
      class="sm:ml-28 my-4 h-16 rounded-md bg-slate-300 flex items-center justify-center text-black"
    >
      <span> timeline here</span>
    </div>
    <canvas id="outputCanvas" style="display: none"></canvas>
  </div>
</template>

<script>
import { useAdjustmentStore } from '@/stores/adjustment'
import { ref, computed } from 'vue'
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'

export default {
  components: {
    Cropper
  },
  setup() {
    const store = useAdjustmentStore()

    const file = ref(null)
    const fileSrc = ref(null)
    const fileSrcCropped = ref(null)
    const isImage = ref(false)
    const isVideo = ref(false)

    const brightness = computed(() => store.brightness)
    const contrast = computed(() => store.contrast)
    const rotate = computed(() => store.rotate)
    const cropping = computed(() => store.cropping)
    const save = computed(() => store.save)

    return {
      brightness,
      contrast,
      rotate,
      file,
      cropping,
      fileSrc,
      fileSrcCropped,
      isImage,
      isVideo,
      save
    }
  },
  watch: {
    cropping(curr, prev) {
      if (!curr && prev) {
        this.fileSrc = this.fileSrcCropped || this.fileSrc
      }
    },
    save(curr, prev) {
      if (curr && !prev) {
        this.saveImage(true)
      }
    }
  },
  methods: {
    handleCropChange(event) {
      this.fileSrcCropped = event.canvas.toDataURL()
    },
    onChange() {
      this.resetFilters()

      this.file = this.$refs.file.files?.[0]
      if (!this.file) {
        this.remove()
        return
      }

      this.isImage = this.file['type'].split('/')[0] === 'image'
      this.isVideo = this.file['type'].split('/')[0] === 'video'
      this.fileSrc = this.isImage ? URL.createObjectURL(this.file) : null
      this.fileSrcCropped = this.fileSrc

      if (this.isVideo) {
        let reader = new FileReader()

        reader.readAsDataURL(this.file)
        reader.addEventListener('load', () => {
          this.fileSrc = reader.result
          this.fileSrcCropped = false
        })
      }
    },
    remove() {
      this.file = null
      this.fileSrc = null
      this.fileSrcCropped = null
      this.isImage = false
      this.isVideo = false
      this.resetFilters()
    },
    dragover(event) {
      event.preventDefault()
      // Add some visual fluff to show the user can drop its files
      if (!event.currentTarget.classList.contains('bg-green-300')) {
        event.currentTarget.classList.remove('bg-transparent')
        event.currentTarget.classList.add('bg-green-300/30')
      }
    },
    dragleave(event) {
      // Clean up
      event.currentTarget.classList.add('bg-transparent')
      event.currentTarget.classList.remove('bg-green-300/30')
    },
    drop(event) {
      event.preventDefault()
      this.$refs.file.files = event.dataTransfer.files
      this.onChange() // Trigger the onChange event manually
      // Clean up
      event.currentTarget.classList.add('bg-transparent')
      event.currentTarget.classList.remove('bg-green-300/30')
    },
    resetFilters() {
      const adjustmentStore = useAdjustmentStore()
      adjustmentStore.setContrast(100)
      adjustmentStore.setBrightness(100)
      adjustmentStore.resetRotate()
    },
    saveImage(download = false) {
      const canvas = document.getElementById('outputCanvas')
      const ctx = canvas.getContext('2d')
      const img = new Image()

      img.src = this.fileSrc

      img.onload = () => {
        canvas.width = img.width
        canvas.height = img.height

        ctx.filter = `brightness(${this.brightness}%) contrast(${this.contrast}%)`
        ctx.translate(canvas.width / 2, canvas.height / 2)
        ctx.rotate((this.rotate * Math.PI) / 180)
        ctx.drawImage(img, -img.width / 2, -img.height / 2)

        if (download) {
          const link = document.createElement('a')
          link.download = 'modified_image.png'
          link.href = canvas.toDataURL('image/png')
          link.click()
        }
        useAdjustmentStore().setSave(false)
      }
    }
  }
}
</script>

<style>
.player {
  width: 100%;

  video {
    width: 100%;
    height: auto;
  }

  &player__sizer {
    position: relative;
    width: 100%;
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 70vh !important;

  overflow: hidden;
}

.preview-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
@/stores/adjustment
