<template>
  <nav
    class="z-20 flex shrink-0 grow-0 justify-around gap-2 border-t border-gray-200 bg-white p-2.5 shadow-lg backdrop-blur-lg absolute top-1/4 -translate-y-1/4 left-4 min-h-[auto] min-w-[56px] flex-col rounded-lg border"
  >
    <button
      class="hvr-grow flex flex-col space-y-2 items-center justify-center rounded-md bg-white text-center w-full text-slate-700 hover:text-slate-700 hover:bg-slate-200 h-12 sm:h-20"
      :class="`${cropping ? 'bg-slate-900 text-white' : ''}`"
      @click="() => updateCropping()"
    >
      <IconCrop class="w-6 h-6"></IconCrop>

      <span class="text-xs hidden sm:block">CROP</span>
    </button>

    <button
      @click="updateRotate"
      :disabled="cropping"
      class="hvr-grow flex flex-col space-y-2 items-center justify-center rounded-md bg-white text-center w-full text-slate-700 hover:bg-slate-200 disabled:opacity-20 h-12 sm:h-20"
    >
      <IconRotate class="w-6 h-6"></IconRotate>

      <span class="text-xs hidden sm:block">ROTATE</span>
    </button>

    <div class="relative">
      <button
        @click="toggleBrightnessSlider"
        :disabled="cropping"
        class="hvr-grow flex flex-col space-y-2 items-center justify-center rounded-md text-center w-full text-slate-700 bg-white hover:bg-slate-200 disabled:opacity-20 h-12 sm:h-20"
      >
        <IconBrightness class="w-6 h-6"></IconBrightness>

        <span class="text-xs hidden sm:block">BRIGHT</span>
      </button>
      <div v-show="showBrightnessSlider" class="absolute top-1/3 left-full ml-2 mt-2 bg-white">
        <div class="flex flex-row-reverse gap-2 items-center w-56">
          <vue3-slider
            v-model="brightnessValue"
            color="#FB278D"
            track-color="#FEFEFE"
            :tooltip="true"
            @change="updateBrightness"
          />
          <IconBrightness class="w-4 h-4"></IconBrightness>
        </div>
      </div>
    </div>

    <div class="relative">
      <button
        @click="toggleContrastSlider"
        :disabled="cropping"
        class="hvr-grow flex flex-col space-y-2 items-center justify-center rounded-md text-center w-full text-slate-700 bg-white hover:bg-slate-200 disabled:opacity-20 h-12 sm:h-20"
      >
        <IconContrast class="w-6 h-6"></IconContrast>

        <span class="text-xs hidden sm:block">CONTRAST</span>
      </button>
      <div v-show="showContrastSlider" class="absolute top-1/3 left-full ml-2 mt-2 bg-white">
        <div class="flex flex-row-reverse gap-2 items-center w-56">
          <vue3-slider
            v-model="contrastValue"
            color="#FB278D"
            track-color="#FEFEFE"
            :tooltip="true"
            @change="updateContrast"
          />
          <IconContrast class="w-4 h-4"></IconContrast>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { useAdjustmentStore } from '@/stores/adjustment'
import { computed, ref } from 'vue'
import slider from 'vue3-slider'
import IconCrop from '../icons/IconCrop.vue'
import IconRotate from '../icons/IconRotate.vue'
import IconBrightness from '../icons/IconBrightness.vue'
import IconContrast from '../icons/IconContrast.vue'

export default {
  setup() {
    const store = useAdjustmentStore()

    const brightnessValue = computed(() => store.brightness)
    const contrastValue = computed(() => store.contrast)
    const rotateValue = computed(() => store.rotate)
    const cropping = computed(() => store.cropping)
    const showBrightnessSlider = ref(false)
    const showContrastSlider = ref(false)

    return {
      brightnessValue,
      contrastValue,
      rotateValue,
      cropping,
      showBrightnessSlider,
      showContrastSlider
    }
  },
  components: {
    'vue3-slider': slider,
    IconCrop,
    IconRotate,
    IconBrightness,
    IconContrast
  },
  methods: {
    updateBrightness(event) {
      const adjustmentStore = useAdjustmentStore()
      adjustmentStore.setBrightness(event)
    },
    updateCropping() {
      const adjustmentStore = useAdjustmentStore()
      adjustmentStore.setCropping(!this.cropping)
    },
    updateContrast(event) {
      const adjustmentStore = useAdjustmentStore()
      adjustmentStore.setContrast(event)
    },
    updateRotate() {
      const adjustmentStore = useAdjustmentStore()
      adjustmentStore.setRotate()
    },
    toggleBrightnessSlider() {
      this.showBrightnessSlider = !this.showBrightnessSlider
    },
    toggleContrastSlider() {
      this.showContrastSlider = !this.showContrastSlider
    }
  }
}
</script>

<style>
.h-screen {
  height: calc(100vh - 64px) !important;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.05);
}
</style>
