<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="512"
    height="512"
    x="0"
    y="0"
    viewBox="0 0 405.526 405.526"
    style="enable-background: new 0 0 512 512"
    xml:space="preserve"
    class=""
  >
    <g>
      <path
        d="M202.764 0C90.958 0 0 90.958 0 202.763c0 111.809 90.958 202.764 202.763 202.764 111.808 0 202.763-90.955 202.763-202.764C405.526 90.958 314.571 0 202.764 0zM22.952 202.763c0-99.146 80.665-179.811 179.812-179.811v359.623c-99.148-.001-179.812-80.665-179.812-179.812z"
        fill="#000000"
        opacity="1"
        data-original="#000000"
        class=""
      ></path>
    </g>
  </svg>
</template>
