<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="512"
    height="512"
    x="0"
    y="0"
    viewBox="0 0 512 512"
    style="enable-background: new 0 0 512 512"
    xml:space="preserve"
    class=""
  >
    <g>
      <path
        d="M271 112.012c-4.93-.508-9.93-.77-15-.77-79.824 0-144.758 64.934-144.758 144.758 0 79.82 64.934 144.754 144.758 144.754 5.07 0 10.07-.258 15-.77 72.8-7.527 129.766-69.222 129.766-143.984S343.8 119.543 271 112.012zm0 257.765V142.22c56.223 7.37 99.77 55.578 99.77 113.781S327.223 362.41 271 369.777zM256 89.543c8.281 0 15-6.719 15-15V15c0-8.285-6.719-15-15-15-8.285 0-15 6.715-15 15v59.543c0 8.281 6.715 15 15 15zM256 422.457c-8.285 0-15 6.719-15 15V497c0 8.285 6.715 15 15 15 8.281 0 15-6.715 15-15v-59.543c0-8.285-6.715-15-15-15zM89.543 256c0-8.285-6.719-15-15-15H15c-8.285 0-15 6.715-15 15 0 8.281 6.715 15 15 15h59.543c8.281 0 15-6.715 15-15zM497 241h-59.543c-8.285 0-15 6.715-15 15 0 8.281 6.715 15 15 15H497c8.285 0 15-6.719 15-15 0-8.285-6.715-15-15-15zM113.484 134.695a14.955 14.955 0 0 0 10.606 4.395c3.84 0 7.676-1.465 10.605-4.395 5.856-5.86 5.856-15.355 0-21.21L91.41 70.198c-5.855-5.86-15.355-5.86-21.21 0-5.86 5.856-5.86 15.352 0 21.211zM398.516 377.305c-5.856-5.86-15.352-5.86-21.211 0-5.856 5.855-5.856 15.351 0 21.21l43.285 43.286a14.955 14.955 0 0 0 10.605 4.394c3.84 0 7.676-1.465 10.606-4.394 5.855-5.86 5.855-15.356 0-21.211zM113.484 377.305 70.2 420.59c-5.855 5.855-5.855 15.351 0 21.21a14.948 14.948 0 0 0 10.606 4.395c3.836 0 7.675-1.465 10.605-4.394l43.285-43.285c5.856-5.86 5.856-15.356 0-21.211-5.855-5.86-15.355-5.86-21.21 0zM387.91 139.09c3.84 0 7.676-1.465 10.606-4.395L441.8 91.41c5.855-5.86 5.855-15.355 0-21.21-5.856-5.86-15.356-5.86-21.211 0l-43.285 43.284c-5.86 5.856-5.86 15.352 0 21.211a14.948 14.948 0 0 0 10.605 4.395zm0 0"
        fill="#000000"
        opacity="1"
        data-original="#000000"
        class=""
      ></path>
    </g>
  </svg>
</template>
