<template>
  <PixelTopbar />

  <div class="bg-gray-100 relative">
    <PixelSidebar></PixelSidebar>
    <PixelPlayer></PixelPlayer>
  </div>
</template>

<script>
import PixelSidebar from './components/Sidebar/PixelSidebar.vue'
import PixelTopbar from './components/Topbar/PixelTopbar.vue'
import PixelPlayer from './components/PixelPlayer.vue'

export default {
  components: {
    PixelSidebar,
    PixelTopbar,
    PixelPlayer
  }
}
</script>

<style scoped></style>
